/* Reset e boas práticas */

@font-face {
  font-family: "Mak";
  src: url('fonts/MAK-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  background-color: #faf9f9;
  color: #333;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}



button {
  cursor: pointer;
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

/* Container para seções principais */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Header */
.header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(44, 44, 44, 0.04);
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.header.scrolled, .header:hover {
  background-color: rgba(44, 44, 44, 0.9);
}

.header nav.list-header {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  left: 0;
}

.header nav a {
  margin: 0 4rem;
  font-weight: 300;
  color: #fff;
  font-size: 1.1rem;
}

.logo {
  display: flex;
  max-height: 80px;
  max-width: 80px;
  transition: all 0.3s ease;
}

.logo img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.last-items-header {
  display: flex;
  gap: 40px;
}

.button-header {
  display: flex;
  border: 1px solid #faf9f9;
  background: transparent;
  color: #faf9f9;
  font-weight: 300;
  border-radius: 0px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.button-header:hover {
  background-color: #faf9f9;
  color: #2c2c2c;
}

/* Banner */
.banner {
  margin: 0;
  text-align: left;
  position: relative;
  min-height: 880px;
  display: flex;
  overflow: hidden;
  max-width: 100%;
}

.complements {
  position: absolute;
  top: 6%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  z-index: 2;
}

.logo-complement {
  font-size: 8rem;
  font-family: "Mak", sans-serif;
  font-weight: bold;
  line-height: 1.1;
  left: -6%;
  color: #fff;
  position: relative;
  margin-top: 60px;
}

.vision {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.1;
  color: #fff;
  position: relative;
  margin-top: 1px;
  margin-left: 2rem;
}

.image-banner {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 1;
  object-fit: cover;
}

.fade-out {
  position: relative;
  background: rgb(250, 249, 249);
  max-height: 80px;
  margin-top: auto;
  width: 100%;
  z-index: 2;
}

.fade-out::after {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 100%;
  height: 30px;
  background: linear-gradient(to top, rgb(250, 249, 249), rgba(250, 249, 249, 90%), rgba(250, 249, 249, 60%), rgba(250, 249, 249, 0) );
  pointer-events: none;
  z-index: 2;
}

section {
  margin-top: 7rem;
  min-height: 700px;
}


.text {
  padding: 0rem 7rem 4rem 8rem;
  font-weight: 500;
}

.subtitle-design {
  position: relative;
}

.sub-title {
  position: absolute;
  top: -80%;
  z-index: -1;
  font-size: 32px;
  font-weight: 200;
}

.cover-up {
  position: relative;
  background: #faf9f9;
  min-height: 40px;
}

.cover-up::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  border-top: solid black 1px;
}

.grid-2columns {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  min-height: 500px;
  padding: 20px;
  align-items: stretch;
}

.partner-images {
  display: flex;
  margin-left: 6rem;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 100%;
  max-height: 350px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  gap: 1rem;
}

.partner1, .partner2, .partner3 {
  position: relative;
  flex: 1 1 30%;
  max-width: 30%;
  border: 4px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  overflow: hidden;
  margin: 0 -30px;
}

.partner-images img {
  cursor: pointer;
  width: 100%;
  object-fit: contain;
}

.partner1 {
  order: 3;
  left: -5%;
  z-index: 3;
  transform: translateY(30px);
}

.partner2 {
  order: 2;
  z-index: 2;
  transform: translateY(15px);
}

.partner3 {
  order: 1;
  left: 5%;
  z-index: 1;
  transform: translateY(0px);
}

.slider-control {
  display: none;
}

.partner-name{
  font-weight: 600;
  font-size: 1.8rem;
}


.our-purpose-text {
  display: flex;
  justify-items: center;
  align-items: center;
}

.text-apresentation {
  margin-top: 20px;
  font-weight: 500;
  
}

.services {
  background-color: #2c2c2c ;
  display: flex;
  flex-direction: column;
  padding: 2rem 0rem 2rem 0rem;
}

.title-bc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0rem 2rem 0rem;
}

.services p, 
.services h2 {
  color: #f3f2f2;
}
.subtitle-design-bc {
  position: relative;
  margin-bottom: 4rem;
}

.sub-title-bc {
  position: absolute;
  color: #f3f2f2;
  top: -80%;
  z-index: 0;
  font-size: 32px;
  font-weight: 200;
}

.cover-up-bc {
  position: relative;
  background: #2c2c2c;
  min-height: 40px;
}

.cover-up-bc::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  border-top: solid rgb(251, 250, 250) 1px;
}

.services-item {
  margin-top: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.services-item:hover .cover-up-services {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.services-item img {
  position: absolute;
  top: 20px;
  right: 0;
  padding: 1px 1px 8px 8px;
  margin-right: 2rem;
  border: #f3f2f2 1px solid;
}

.title-services {
  font-weight: 500;
}

.subtitle-services {
  font-weight: 200;
}

.cover-up-services {
  position: relative;
  top: -45px;
  background: #2c2c2c;
  min-height: 40px;
  transition: all 0.3s ease;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.arrow-link {
  display: none;
}

.cover-up-services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  border-top: solid rgb(251, 250, 250) 1px;
  z-index: 2;
}

.cover-up-services::after {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 100%;
  height: 30px;
  background: linear-gradient(to top, rgb(44, 44, 44), rgba(44, 44, 44, 0));
  pointer-events: none;
  z-index: 1;
}

.projects-grid {
  margin-bottom: 8rem;
}

.project-number {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin-top: 0;
  justify-content: center;
  font-size: 2rem;
  font-weight: 300;
  border: 1px solid #2c2c2c;
  border-radius: 50%;
}

.project-about:hover .project-number {
  background-color: #2c2c2c;
  color: #fff;
}

.project-infos {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
  flex-wrap: nowrap;
  padding: 0.5rem;
}


.project-about {
  display: flex;
  flex-direction: column;
  position: relative;
}

.project-number {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 300;
  border: 1px solid #2c2c2c;
  border-radius: 50%;
  margin-bottom: auto;
  transition: all 0.3s ease;
}

.project-details {
  margin-top: auto;
}

.project-details h3, 
.project-details p {
  margin-bottom: 1rem;
}




.image-project img {
  border: 2px solid #2c2c2c;
  border-radius: 0px;
  width: 100%;
  min-width: 800px;
  height: auto;
}

.see-all {
  display: flex;
  justify-self: center;
  font-size: 32px;
  padding: 0.5rem 1rem;
  align-items: center;
  font-weight: 500;
  margin-top: 1rem;
  border-width: 0.5px 2px 2px 2px;
  border-style: solid;
  border-color: #2c2c2c;
  border-radius: 0;
  color: #2c2c2c;
  background: none;
}

.see-all:hover {
  background-color: #2c2c2c;
  color: #fff;
  transition: all 0.3s ease;
}

.contact {
  width: 100%;
  display: block;
  margin-bottom: 8rem;
}


.contact-form {
  max-width: 800px;
  margin-top: 42px;
  margin-left: 64px;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  gap: 40px;
}

.group-1,
.group-2 {
  display: flex;
  gap: 32%;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow: hidden;
}

.group-1 input,
.group-2 input {
  flex: 1;
  min-width: calc(20% - 25px);
  background: none;
  border-bottom: 1px solid #2c2c2c;
  padding-left: 5px ;
  font-size: 18px;
}

.group-3 input {
  flex: 1;
  min-width: calc(50% - 8px);
  background: none;
  border-bottom: 1px solid #2c2c2c;
  padding-left: 5px ;
  font-size: 18px;
}

.company-address {
  width: 100%;
}

.forms-label {
  font-size: 18px;
  font-weight: 500;
  color: #2c2c2c;
}


.message {
  margin-top: -40px;
  width: 100%;
  resize: vertical;
  padding: 10px;
  background: none;
  border-width: 0.5px 2px 2px 2px;
  border-style: solid;
  border-color: #2c2c2c;
}

.send {
  font-size: 32px;
  font-weight: 200;
  width: 40%;
  background: none;
  color: #2c2c2c;
  border-width: 0.5px 2px 2px 2px;
  border-style: solid;
  border-color: #2c2c2c;
  border-radius: 0;
  cursor: pointer;
}

.send:hover {
  background-color: #2c2c2c;
  color: #fff;
  transition: all 0.3s ease;
}

.checkbox {
  display: flex;
  align-items: center;
}

.forms-signup {
  align-items: center;
  gap: 8px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  margin-top: -32px;
  width: 68%;
}


section h2 {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
  color: #000;
  text-align: center;
  font-weight: 300;
}

p {
  font-size: 1.25rem;
  line-height: 1.8;
  margin-bottom: 2rem;
  color: #222;
}


/* Footer */
footer {
  background-color: #2c2c2c;
  padding: 4rem 2rem;
  font-size: 0.95rem;
  color: #e7e7e7;
}

.footer-content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  justify-self: center;
  gap: 2rem;
  margin-bottom: 2rem;
  width: 92%;
  padding-right: 8rem;
}

.full-logo {
  display: flex;
  justify-self: flex-start;
  align-self: flex-start;
  max-height: 5rem;
}

footer address {
  font-style: normal;
  font-size: 1rem;
  max-width: 300px;
}

.footer-title {
  font-weight: 500;
  font-size: 1.3rem;
}

.socials {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cl-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cl-2, .cl-3, .cl-4 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.cl-2 a, .cl-3 a, .cl-4 a {
  position: relative;
  font-size: 1rem;
  text-decoration: none;
}

.cl-2 a::after,
.cl-3 a::after,
.cl-4 a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.cl-2 a:hover::after,
.cl-3 a:hover::after,
.cl-4 a:hover::after {
  width: 100%;
}

.socials-icons {
  display: flex;
  gap: 1.5rem;
}

.newsletter-form {
  gap: 1rem;
}

.email-form {
  background: none;
  border-bottom: 1px solid #e7e7e7;
  padding: 0.5rem 0;
  color: #e7e7e7;
  
}

.sub {
  font-size: 1rem;
  background: none;
  font-weight: 300;
  color: #e7e7e7;
  border-radius: 0;
  border-bottom: 1px solid #e7e7e7;
}

.sub:hover {
  background-color: #e7e7e7;
  color: #2c2c2c;
  transition: all 0.3s ease;
}

.downfooter {
  width: 94%;
  display: flex;
  justify-self: center;
  padding-top: 8px;
  border-top: #f3f2f2 1px solid;
}

/* Menu Sanduíche */
.drop-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
  z-index: 1000;
  position: relative;
  margin-left: 1rem;
}

.drop-menu span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #fff;
  transition: all 0.3s ease;
}

.drop-menu.active span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.drop-menu.active span:nth-child(2) {
  opacity: 0;
}

.drop-menu.active span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #2c2c2c;
  padding: 2rem;
  z-index: 999;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.mobile-nav.active {
  transform: translateX(0);
  display: flex;
}

.mobile-nav a {
  display: block;
  color: #fff;
  font-size: 1.5rem;
  margin: 1.5rem 0;
  text-align: left;
  width: 100%;
  padding: 1rem;
  transition: background-color 0.3s ease;
}

.mobile-nav a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.mobile-nav .header-button {
  margin-top: 2rem;
  width: 100%;
  text-align: left;
}

.mobile-nav .button-header {
  width: 100%;
  max-width: 300px;
  padding: 1rem;
  font-size: 1.2rem;
}

@media screen and (min-width: 1200px) {
  .last-items-header {
    display: flex;
    margin-left: auto;
  }

}

/* Media Queries para Responsividade */
@media screen and (max-width: 1200px) {
  .container {
    max-width: 95%;
  }

  .header {
    padding: 3rem 2rem;
    min-height: 50px;
  }

  .drop-menu {
    display: flex;
    position: absolute;
    left: 1rem;
    margin-left: 0;
  }

  .header nav.list-header {
    display: none;
  }

  .logo {
    max-height: 60px;
    max-width: 60px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .last-items-header {
    display: none;
    margin-left: auto;
  }

  .mobile-nav {
    display: flex;
  }

  .text {
    padding: 0rem 4rem 4rem 4rem;
  }

  .grid-2columns {
    flex-direction: column;
    gap: 2rem;
    padding: 0;
  }

  .image-columns {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 5rem;
    min-height: 500px;
    padding: 20px;
    align-items: stretch;
  }


  .partner-images {
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0;
    min-height: 430px;
    border-radius: 0px 30px 0px 30px;
  }
  .partner1 {
    display: flex;
    left: 0;
  }
  .partner2 {
    display: none;
    left: 0;
  }
  .partner3 {
    display: none;
    left: 0;
  }
  

  .partner-slide {
    width: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }

  .partner-slide.active {
    display: flex;
  }

  .partner-slide img {
    object-fit: cover;
  }

  .project-details {
    padding: 0rem 7rem 4rem 8rem;
  }

  .footer-content {
    padding-right: 0;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1200px) and (min-width: 500px) {
  .partner1, .partner2, .partner3 {
    position: relative;
    flex: 1 1 30%;
    max-width: 30%;
    border: 4px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;
    overflow: hidden;
    margin: 0 -30px;
}
}

@media screen and (max-width: 992px) {
  html {
    font-size: 14px;
  }

  .header {
    flex-direction: column;
    padding: 1rem;
    min-height: 44px;
  }

  .header nav {
    margin-top: 1rem;
  }

  .header nav a {
    margin: 0 1rem;
  }

  .logo-complement {
    margin-top: 40px;
  }
  
  .drop-menu {
    width: 25px;
    height: 18px;
  }
  
  .drop-menu span {
    height: 2.5px;
  }

  .banner {
    min-height: 500px;
  }

  .logo-complement {
    font-size: 6rem;
  }

  .vision {
    font-size: 1.5rem;
  }

  .grid-2columns {
    flex-direction: column;
    gap: 2rem;
  }

  .contact-form {
    margin-left: 2rem;
    max-width: 500px;
  }

  .group-1, .group-2 {
    flex-direction: row;
    gap: 1rem;
  }

  .group-1 input,
  .group-2 input,
  .group-3 input {
    width: 100%;
  }

  .footer-content {
    flex-wrap: wrap;
    padding-right: 0;
  }

  .cl-2, .cl-3, .cl-4 {
    gap: 1rem;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }

  .banner {
    min-height: 400px;
  }

  .logo {
    max-height: 40px;
    max-width: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .logo-complement {
    font-size: 4rem;
  }

  .vision {
    font-size: 1.2rem;
  }

  .partner1, .partner2, .partner3 {
    border: none;
  }

  .partner-slide img {
    object-fit: cover;
    width: 60%;
  }

  .text {
    padding: 0rem 2rem 2rem 2rem;
  }

  section {
    margin-top: 4rem;
    min-height: auto;
  }

  .services-item img {
    position: static;
    margin: 1rem auto;
  }

  .cover-up-services {
    position: relative;
    top: -15px;
    background: #2c2c2c;
    min-height: 40px;
    transition: all 0.3s ease;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .cover-up-services::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    border-top: solid rgb(251, 250, 250) 1px;
    z-index: 2;
  }

  .cover-up-services::after {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    height: 30px;
    background: linear-gradient(to top, rgb(44, 44, 44), rgba(44, 44, 44, 0));
    pointer-events: none;
    z-index: 1;
  }

  .services-item:hover .cover-up-services {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }

  .project-infos {
    flex-direction: column;
  }

  .image-project img {
    min-width: 100%;
  }

  .send {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header nav a {
    margin: 0.5rem 0;
  }

  .banner {
    min-height: 300px;
  }

  .logo-complement {
    font-size: 3rem;
  }

  .vision {
    font-size: 1rem;
    margin-left: 1rem;
  }

  .text {
    padding: 0rem 2rem 2rem 2rem;
  }

  .grid-2columns {
    flex-direction: column;
    gap: 2rem;
  }

  .project-number {
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
  }

  .socials-icons {
    justify-content: flex-start;
  }

  .partner-slide img {
    object-fit: cover;
    width: 100%;
  }

  .partner-images {
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-left: 0;
    flex-direction: row;
    padding: 0;
    min-height: 430px;
    border-radius: 0px 30px 0px 30px;
    }
    .contact-form {
      margin-left: 2rem;
      max-width: 320px;
    }

    .group-1, .group-2 {
      flex-direction: row;
      gap: 1rem;
    }

    .group-1 input,
    .group-2 input,
    .group-3 input {
      width: 100%;
    }
}

@media screen and (max-width: 500px) {
  .sub-title {
    font-size: 24px;
    top: -60%;
  }

  .slider-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.05);
    color: white;
    border: none;
    cursor: pointer;
    z-index: 10;
    font-size: 20px;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slider-control.prev {
    left: 10px;
  }

  .slider-control.next {
    right: 10px;
  }

  .slider-control:hover {
    background: rgba(0, 0, 0, 0.5);
  }

  .subtitle-services {
    padding: 0 6rem 0 6rem;
  }

  .sub-title-bc {
    font-size: 24px;
    top: -60%;
  }
}

